.todos_view h1 {
    color: gray;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}

.todos_view .todo_container {
    display: flex;
    flex-wrap: wrap;
}

.todos_view .todo_item {
    width: 200px;
    background: goldenrod;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    border-radius: 4px;
    min-height: 56px;
}

.todos_view .todo_item .todo_title{
    font-size: 16px;
    line-height: 1.5;
}

.todos_view .todo_title:first-letter {
    text-transform: capitalize;
}

.todos_view .todo_item.active {
    background: #1c7430;
    color: white;
    text-decoration: line-through;
}
.todos_view  .item_wraper{
    display: flex;
    align-items: center;
}
.todos_view .todo_item.active h4 {
    color: white !important;
}

.todos_view .todo_item:hover .todo_delete_btn {
    display: block;
}

.todos_view .no_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.todos_view .todo_delete_btn {
    background: white;
    border: 0;
    border-radius: 4px;
    color: red;
    display: none;
    cursor: pointer;
    padding: 1px 7px;
}
.todos_view input[type="checkbox"] {
    position: relative;
    width: 17px;
    height: 17px;
    border: 1px solid blanchedalmond;
    background: white;
    border-radius: 2px;
    margin-right: 7px;
    display: inline-block;
    padding: 0;
}